<!DOCTYPE html>
<html>
<head>
    <title>Telefonni tahrirlash</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-900 flex justify-center items-center min-h-screen">

<div class="bg-white w-[400px] p-6 rounded-lg shadow-lg">

    <h2 class="text-2xl font-bold text-center mb-4">✏ Telefonni tahrirlash</h2>

    <form method="POST" enctype="multipart/form-data" class="space-y-3">

        <input type="text" name="nomi" value="{{ telefon.nomi }}" class="w-full border p-2 rounded">
        <input type="number" name="narxi" value="{{ telefon.narxi }}" class="w-full border p-2 rounded">

        <img src="/{{ telefon.rasm }}" class="h-32 mx-auto rounded mb-2">

        <input type="file" name="rasm" class="w-full border p-2 rounded">
        <input type="number" name="soni" value="{{ telefon.soni }}" class="w-full border p-2 rounded">

        <textarea name="malumot" class="w-full border p-2 rounded">{{ telefon.malumot }}</textarea>

        <button type="submit" class="bg-blue-600 text-white w-full py-2 rounded">
            YANGILASH
        </button>
    </form>

    <a href="/" class="block mt-4 text-center text-blue-600">Ortga qaytish</a>
</div>

</body>
</html>




